/* css/style.css */

/* Typsnitt: Import av lokala filer */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url('../assets/fonts/Montserrat-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Italic';
    src: url('../assets/fonts/OpenSans-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Grunder */
:root {
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Open Sans', sans-serif;
    --color-primary: #0E4E32;
    --color-secondary: #FF9800;
    --color-bg: #EDEFE9;
    --color-dark: #333;
    --color-white: #fff;
    --border-radius: 10px;
    --shadow-small: 0 2px 10px rgba(0,0,0,0.1);
    --shadow-large: 0 0 25px rgba(0,0,0,0.3);
    --transition-default: 0.3s ease;
    --container-padding: 2rem;
}
/* Basstruktur HTML */
/*body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  padding: var(--container-padding);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  letter-spacing: 0.1rem;
  font-weight: lighter;
}*/
/* Globala klasser */
/*.container {
  padding: var(--container-padding);
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: #F6F7F4;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
}

.card:hover {
  box-shadow: var(--shadow-large);
  transition: box-shadow var(--transition-default);
}*/
/* Komponentbaserade klasser */
/*.hero-banner {
  background-size: cover;
  padding: 1rem 2rem;
  color: var(--color-white);
}

.button {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow-small);
  transition: box-shadow var(--transition-default);
}
*/
body {
    font-family: var(--font-main);
    font-size: 1rem;
    color: var(--color-dark);
    background-color: var(--color-bg);
    padding: 2.5rem 5rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 0 1.5rem;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
    letter-spacing: 0.1rem;
    font-weight: lighter;
}
h1 {
    color: var(--color-white);
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
h2 {
    color: var(--color-white);
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    /*margin-left: 0.8rem;*/
}
h3 {
    font-size: 2rem;
    /*margin-left: 1.6rem;*/
}
h4 {
    font-size: 1.7rem;
    /*margin-left: 2.4rem;*/
}
h5 {
    font-size: 1.5rem;
}
a {
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF80;
}
/* Header */
.site-header {
    background: var(--color-white);
    padding: 0 2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}
.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav a {
    font-weight: bold;
}
.main-nav a:hover {
    color: black;
}
.main-nav ul li:first-child img {
    height: 4rem;
}
.main-nav ul li:last-child img {
    height: 2rem;
}
/* Navigeringen - Dropdown-meny */
.has-dropdown {
    position: relative;
}
.has-dropdown .dropdown {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
}
.has-dropdown .dropdown li a {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: normal;
    background-color: white;
}
.has-dropdown .dropdown li a:hover {
    background-color: #f2f2f2;
}
.has-dropdown:hover .dropdown {
    display: block;
}
/* Knappar */
.button, button[type="submit"], button[type="button"] {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border-bottom: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.button:hover, button[type="submit"]:hover, button[type="button"]:hover {
    opacity: 0.9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.95);
    transition: box-shadow 0.3s ease;
}
/* Hero-banner */
.hero-banner {
    background-image: url('../assets/img/banner2.png');
    background-size: cover;
    padding: 1rem 2rem;
}
.head-buttons {
    display: flex;
    column-gap: 1rem;
}
.active {
    background:#00250F;
}
.breadcrumb {
    background: #F6F7F4;
    padding: 0.1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.breadcrumb a {
    font-weight: bold;
}
/* Alla sidor - Informationsdel */
.info {
    padding: 0 2rem;
}
.info h4, #meal-title {
    background: #E4E7DE;
    text-align: center;
    margin: 1rem -2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
/* Startsidan */
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    padding: 1rem 2rem;
    max-width: 100%;
    /*justify-content: center;*/
}
.feature {
    display: flex;
    flex-direction: column;
    flex: 0 1 48.2%;
    background: #F6F7F4;
    padding: 1rem;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.feature img {
    border-radius: 10px;
}
/*
.feature-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}*/
.feature:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease;
}
/* Receptsidan - Sökfunktion */
.hidden {
    display: none;
}
.search-section {
    max-width: 600px;
    margin: 0 auto;
}
.search-section h3 {
    text-align: center;
}
.search-bar {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 1rem auto;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    overflow: hidden;
}
.search-bar input[type="text"] {
    flex: 1;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: text;
}
.search-bar button {
    border-radius: 0;
    margin: 0;
    padding: 0.8rem;
    overflow: hidden;
}
.search-bar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
}
.filter-buttons button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    background-color: white;
    color: var(--color-primary);
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
}
.filter-buttons button.active,
.filter-buttons button:hover {
    background-color: var(--color-primary);
    color: white;
}
.search-res img{
    max-height: 300px;
}
/* Receptsidan - Recepttips */
.meal-grid {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    margin: 0 -2rem;
    background: #F6F7F4;
}
.meal-card {
    background: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.meal-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}
.meal-image img {
    max-width: 100%;
    flex: 1 1 60%;
    height: auto;
    display: block;
    cursor: pointer;
}
.meal-content {
    padding: 1rem;
    cursor: pointer;
    flex: 1 1 40%;
}
.meal-title {
    font-family: var(--font-heading);
    font-size: 1.1rem;
    margin: 0 0 0.3rem;
}
.meal-category {
    font-size: 0.85rem;
    color: #666;
}
/* Receptsidan - Instruktioner */
.meal-hero-image {
    border-radius: 10px;
}
#meal-title {
    display: flex;
    justify-content: center;
}
#meal-details ul {
    padding-left: 1rem;
    list-style: none;
    font-size: 1rem;
}
#meal-details li {
    margin-bottom: 0.25rem;
}
.meal-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    gap: 2rem;
}
.meal-left {
    flex: 1 1 49%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.meal-right {
    flex: 1 1 49%;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
.meal-instructions {
    margin: 1rem;
    padding: 1rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
/* Responsiv anpassning för smalare skärmar */
@media (max-width: 768px) {
  .meal-layout {
    flex-direction: column;
  }

  .meal-left,
  .meal-right {
    flex: 1 1 100%;
  }

  .meal-hero-image {
    max-width: 100%;
  }
}
/* Näringsberäknaren */
.dark {
    padding: 1rem 2rem;
    background-image: url('../assets/img/banner-calculator.png');
    background-color: #00250F;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
    border-bottom: 1px solid #FFFFFF80;
    color: white;
    text-align: center;
    margin: 1rem 0;
}
.dark p, .dark ul, .dark a {
    color:white;
}
/* Annons - Näringsberäknare */
.calculator-promo {
  background-image: url('../assets/img/banner-calculator.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.calculator-promo:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease;
}
.calculator-promo h3, .calculator-promo p {
    backdrop-filter: blur(4px);
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.95rem;
    background-color: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    opacity: 0.9;
}
.styled-table thead {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.styled-table tbody tr:nth-child(even) {
    background-color: #edf3eeCC;
}
.styled-table th,
.styled-table td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #eee;
    text-align: left;
}
#resultat tr:hover {
    background-color: #f9fcf7;
}
/* Specifik färg för totalsumma i makrotabell */
.makro tbody tr:last-child {
    background-color: #edf3ee;
    font-weight: bold;
}
/* Justera högerjustering endast för mikro-tabell */
.mikro td:nth-child(2),
.mikro th:nth-child(2),
.mikro td:last-child,
.mikro th:last-child {
    text-align: right;
}
/* Näringsberäknaren - Formulär */
#calc-form {
    display: flex;
    flex-direction: column;
    background-color: #062A1CF2;
    border: 1px solid #FFFFFF80;
    border-radius: 8px;
    margin: 1rem 10rem;
    padding: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}
#calc-form ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#calc-form li {
    display: flex;
    flex: 1 1 33%;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}  
#nutrition-form input[type="text"],
#nutrition-form input[type="number"] {
    display: flex;
    padding: 0.6rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    background-color: var(--color-white);
    color: black;
    min-width: 0;
}
#nutrition-form button {
    margin: 1rem 0.5rem;
}
#instruktioner {
    display: flex;
    flex-direction: column;
    background-color: #062A1C80;
    margin: 1rem 10rem;
    padding: 1rem;
    border: 1px solid #FFFFFF80;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-align: justify;
}
#instruktioner ul {
    list-style: decimal inside;
    text-align: center;
}
#instruktioner li {
    margin: 1rem 0;
}
/* Om - Kontaktformulär */
.contact {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 500px;
  margin-top: 1rem;
}
.contact label {
  font-weight: bold;
  font-size: 0.9rem
}
.contact input,
.contact textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.85rem;
  background-color: white;
}
.contact button {
  align-self: flex-start;
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact button:hover {
  background-color: #0b3e28;
}
/* Footer */
.site-footer {
    background: #0D4C33;
    color: white;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.site-footer img {
    height: 3rem;
}
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}
.footer-update {
    font-size: 0.8rem;
    text-align: right;
}
.footer-update a {
    color: white;
    font-size: 0.8rem;
}
/*=============================
        Responsivitet
=============================*/
@media (max-width: 1024px) { /* För surfplatta */
    body {
        padding: 1rem 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .main-nav a, .head-buttons a, .button, p {
        font-size: 0.8rem;
    }
    .main-nav ul li:first-child img {
        height: 3rem;
    }
    .main-nav ul li:last-child img {
        height: 1.5rem;
    }
    .hero-banner {
        padding: 2rem 1rem;
    }
    .button {
        /*width: 100%;*/
        padding: 1rem;
    }
    .calculator-promo {
        font-size: 1rem;
        padding: 1.5rem;
    }
    .site-footer {
        font-size: 0.6rem;
        padding: 0.75rem;
    }
    .footer-update {
        font-size: 0.6rem;
    }
}
@media (max-width: 640px) { /* För mobil */
    .main-nav a {
        font-size: 0.6rem;
    }
    .main-nav ul li:first-child img {
        height: 2rem;
    }
    .main-nav ul li:last-child img {
        height: 1rem;
    }
    .hero-banner {
        padding: 2rem 1rem;
    }
    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
    .calculator-promo {
        font-size: 1rem;
        padding: 1.5rem;
    }
    .site-footer {
        font-size: 0.8rem;
        padding: 0.75rem;
    }
    #nutrition-form li {
        flex-direction: column;
        align-items: flex-start;
      }
}
@media (max-width: 1024px) {
    .site-footer {
        font-size: 0.6rem;
        padding: 0.75rem;
    }
    .footer-update {
        font-size: 0.6rem;
    }
}
@media (max-width: 640px) {
    .site-footer {
        font-size: 0.8rem;
        padding: 0.75rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }
}